.calc{
    width: 350px;
    height: 450px;
    background: rgb(0, 0, 0);
    margin-left: 40%;
    margin-top: 45px;
    padding: 15px;
    text-align: center;
}


input {
  width: 80%;
  border-color:white;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background: transparent;
  font-size: 28px;
  text-align: right;
}


input::placeholder {
  color: #aaa;
}


button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 6px;
  border-radius: 45%;
  background-color: #2c2c2c;
  color: white;
  font-size: 18px;
  transition: 0.2s ease;
  cursor: pointer;
}


button:hover {
  background-color: #5f5e5e;
  transform: scale(1.05);
}


.equalbtn {
  background: linear-gradient(45deg, #ff005f, #ff5f00);
  color: #fff;
  font-weight: 600;
}


.operator {
  background: linear-gradient(45deg, #0ab448, #22933e);
  color: #fff;
  font-weight: 600;
}
